<% present @concert do |presenter| %>
  <h1><%= presenter.title %></h1>
  <h2><%= presenter.subtitle %></h2>
  <p><%= presenter.formatted_date %></p>
  <p>Doors at: <%= presenter.formatted_start_time %></p>
  <p><%= presenter.ticket_price_in_dollars %></p>
  <p><%= presenter.venue %></p>
  <p><%= presenter.venue_address %></p>
  <p><%= presenter.city %>, <%= presenter.state %> <%= presenter.zip %></p>
  <p><%= presenter.additional_information %></p>
<% end %>
