<!DOCTYPE html>
<html>
  <head>
    <title>Ticketbeast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div id="app">
      <%= yield %>
    </div>
    <!-- @stack('beforeScripts')
    <script src="{{ elixir('js/app.js') }}"></script>
    @stack('afterScripts') -->
  </body>
</html>
